{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/7551e7a036.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style4.css') }}">
{% endblock %}

{% block content %}
		<h1 class="custom-heading text-white m-0">The Fit Physicist</h1>
        <h3 class="custom-heading2 text-white m-0">A Health and Wellness Website</h3>
		<div class="btn-group my-5">
			<a href="https://codepen-api-export-production.s3.us-west-2.amazonaws.com/zip/PEN/pyBNzX/1578778289271/pure-css-gradient-background-animation.zip" class="btn btn-outline-light" aria-current="page"><i class="fas fa-file-download me-2"></i>SIGN UP</a>
			<a href="https://codepen.io/P1N2O/full/pyBNzX" class="btn btn-outline-light">LOG IN <i class="fas fa-expand ms-2"></i></a>
		</div>
        <div class="social-buttons-container">
            <a href="https://www.facebook.com/chris.lombardi.5" class="social-button">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="" class="social-button">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="social-button">
                <i class="fab fa-youtube"></i>
            </a>
            <a href="" class="social-button">
                <i class="fab fa-twitter"></i>
            </a>
        </div>
		<a href="" class="text-decoration-none">
			<h5 class="fw-light text-white m-0">— A website by Chris Lombardi —</h5>
		</a>
        
{% endblock %}
